<div class="container mt-4">
    <ul class="list-group">
      <% Reaction.kinds.each do |kind| %>
        <li class="list-group-item">
          <%= @publication.count_with_kind(kind) %>
        </li>
      <% end %>
    </ul>
  </div>
  